---
import AstroLayout from "../layouts/AstroLayout.astro";
const allPosts = await Astro.glob('../pages/astro/posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const {frontmatter} = Astro.props;
---

<AstroLayout title={frontmatter.title}>
    <section>
        <h1>{frontmatter.title}</h1>
        <p>Écrit par {frontmatter.author}</p>
        <p>Publié le: {frontmatter.pubDate.toString().slice(0,10)}</p>
        <div>
            <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
            <slot />
        </div>
        <div class="tags">
            <ul>
                {frontmatter.tags.map((tag) => <li><a href={`/astro/tags/${tag}`}>{tag}</a></li>)}
            </ul>
        </div>
    </section>
</AstroLayout>